@{
    ViewData["Title"] = "Home Page";
}
@model RootObject


<div class="container">

    <form class="form-inline" asp-controller="Home" asp-action="Index" method="get">
    <input class="form-control mr-sm-2" style="width:400px !important; margin:auto;" type="search" placeholder="Search" aria-label="Search" name="SearchString">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

    @if (Model != null)
    {
        <div class="row">      
            <div class="col-lg-3">
                <div class="card shadow-sm">
                    <img height="400" src="@Model.Poster">
                    <div class="card-body">
                        <h5 class="card-text"> @Model.Title</h5>
                        <p class="card-text"> @Model.Year</p>  
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@Model.imdbID" type="submit" class="btn btn-outline-warning">View</a>
                                <a asp-controller="Home" asp-action="MailSender" type="submit" class="btn btn-outline-warning">Order</a>
                            </div>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
